/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.header{
    background: url(../images/bghead.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    /* height: 100vh; */
    color: #fff;
}
.header_overlay{
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
}
.header_menu{
    padding-top: 16px;
}
.navbar{
    background: rgba(0, 0, 0, .3) !important;
}
nav .logo{
    color: #ffb233 !important;
}
nav .nav-link{
    color: #fff !important;
    margin: 0 15px;
}
nav li a::before{
    content: "";
    width: 0;
    height: 4px;
    background: #ffb233;
    position: absolute;
    bottom: 0;
}
nav li a:hover::before{
    width: 50px;
    transition: 0.5s ease-in;
}
nav li a:hover{
    color: #ffb233 !important;
    transition: 0.5s ease-in;
    transform: scale(1.2);
} 
nav .navbar-brand{
    font-size: 40px;
}
nav .collapse{
    font-size: 16px;
}
.header_content{
    text-align: center;
    padding-top: 160px;
    padding-bottom: 100px;
}
.header_content h2{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #f3e9e3;
}
.header_content p{
    font-size: 30px;
    margin-top: 40px;
}
.header_icon{
    text-align: center;
    padding-bottom: 60px;
}
.header_icon i{
    color: #fff;
    background: #ffb233;
    font-size: 30px;
    line-height: 45px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.header_icon i:hover{
    background: #c6c6c5;
}
/* style for about me section   */
.about_me{
    padding: 80px 0 90px 0;
    text-align: center;
}
.about_heading h2{
    font-size: 32px;
    color: #000000;
    padding-bottom: 50px;
    font-weight: 600;
    letter-spacing: 3px;
}
.about_pic{
    height: 140px;
    width: 140px;
    margin: auto;
    
}.about_pic img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.about_content h3{
    font-size: 18px;
    color: #818181;
    padding-top: 40px;
    padding-bottom: 30px;
}
.about_content {
    font-size: 14px;
    color: #3f3f3f;
    width: 69%;
    margin: auto;
}
.about_icon i {
    color: #fff;
    background: #c6c6c5;
    font-size: 18px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 20px;
}
.about_icon i:hover {
    color: #fff;
    background: #ffb233;
}
.about_icon{
    margin-bottom: 40px;
}
.about_me .btn{
    color: #51a351;
    font-size: 14px;
    border: 1px solid #51a351;
    padding: 10px 55px;
    border-radius: 20% 0 60% 0;
}
.about_me .btn:hover{
    background: #ffb233;
    color: #fff;
}
/* Style for suggest section */
.suggest{
    background: url(../images/bgsug.png);
    color: #fff;
    text-align: center;
}
.suggest_overlay{
    background: rgba(0, 0, 0, .7);
}
.suggest_heading{
    padding-top: 140px;
}
.suggest_heading h2{
    font-size: 32px;
    letter-spacing: 3px;
    margin-bottom: 100px;
    font-weight: 600;
}
.suggest_content{
    padding-bottom: 160px;
}
.suggest_content i{
    color: #fff;
    font-size: 40px;
    background: #ffb233;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
}
.suggest_content i:hover{
    box-shadow: 0 0 0 4px #7c5f30;
}
.suggest_content h3{
    font-size: 18px;
    margin-top: 25px;
}
.suggest_content .row{
    margin: 0 100px !important;
}
/* Style for counter section */
.counter{
    background: #f3f4ff;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 180px;
}
.counter_content .numscroller{
    font-size: 45px;
    margin-bottom: 20px;
    font-weight: bold;
}
.counter_content hr{
    width: 45px;
    padding-bottom: 3px;
    background-color: #51a351;
    margin: auto;

}
.counter_content h3{
    font-size: 20px;
    margin-top: 25px;
    font-style: italic;
}
/* style for portfolio section */
.portfolio{
    padding-top: 100px;
    padding-bottom: 50px;
}
.pf_heading h2{
    color: #333b46;
    font-size: 32px;
    text-align: center;
    margin-bottom: 80px;
    font-weight: 600;
    letter-spacing: 3px;
}
.pf_link{
    text-align: center;
    margin-bottom: 50px;
}
.pf_link .btn{
    color: #ffb233;
    font-size: 14px;
    border: 1px solid #ffb233;
    /* padding: 10px 55px; */
    border-radius: 20% 0 60% 0;
    margin: 0 10px;
}
.pf_link .active{
    background: #ffb233;
    color: #fff;  
}
.pf_link .btn:hover{
    background: #ffb233;
    color: #fff;
}
.pf_content{
    margin: auto;
}
.pf_img img{
    margin: 6px;
}
.pf_main{
    width: 77%;
    margin: 0 auto;
    display: flex;
    justify-content: center; 
}
.item-1{
    justify-content: flex-start;
}
.item-2{
    justify-content: center;
}
.item-3{
    justify-content: flex-end;
}
.img_lay{
    position: relative;
}
.img_overlay{
    /* width: 100%;
    height: 100%; */
    background: rgba(0, 0, 0, .7);
    color: #fff;
    position: absolute;
    left: 6px;
    top: 6px;
    right: 6px;
    bottom: 6px;
    height: 0%;
    /* bottom: 6px; */
    /* display: none; */
    transition: all 0.5s ease-in-out;

}
.img_lay:hover .img_overlay {
    /* display: block; */
    cursor: pointer;
    height: 96%;
    transition: all 0.5s ease-in-out;
}
.img_lay:hover .lay_head,
.img_lay:hover .lay_icon{
    display: block;
}
.lay_head{
    margin: 80px 30px 50px 30px;
    display: none;
}
.lay_head h2{
    color: #51a351;
    /* margin-top: 50px; */
}
.lay_head hr{
    width: 25px;
    padding-bottom: 3px;
    background-color: #51a351;
}
.lay_head_2{
    margin: 20px 30px 10px 30px;
}
.lay_head_2 h2{
    color: #51a351;
    /* margin-top: 50px; */
}
.lay_head_2 hr{
    width: 25px;
    padding-bottom: 3px;
    background-color: #51a351;
}
.lay_head_3{
    margin: 50px 30px 20px 30px;
}
.lay_head_3 h2{
    color: #51a351;
    /* margin-top: 50px; */
}
.lay_head_3 hr{
    width: 25px;
    padding-bottom: 3px;
    background-color: #51a351;
}
.lay_icon{
    display: none;
}
.lay_icon a i{
    color: #fff;
    background: #585858;
    font-size: 18px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    /* padding-left: 12px; */
}
.lay_icon a i:hover{
    background: #ffb233;
}
.pf_btn{
    padding: 100px 0 10px 0;
    text-align: center;
}
.pf_btn .btn{
    padding: 15px 80px;
    font-weight: 700;
    background: #ffb233 !important;
}
.pf_btn .btn:hover{
    box-shadow: 3px 5px 1px #c78213;
}
/* style for testimonial section */
.testimonial{
    padding: 100px 0 60px 0;
    text-align: center;
    background: url(../images/bgtest.png);
    background-size: cover;
    background-position: center;
}
.test_heading h2{
    color: #333b46;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 3px;
    /* margin-bottom: 80px; */
}
.owl-carousel .owl-item img{
    width: 100px;
    margin: 40px auto;
}
.owl-carousel .owl-item p{
    width: 70%;
    margin: 80px auto;
    font-size: 18px;
    font-weight: 400;
}
.owl-theme .owl-dots, .owl-theme .owl-nav{
    display: none;
}
.owl-carousel .owl-item h2{
    font-size: 18px;
    font-weight: 600;
}
.owl-carousel .owl-item h3{
    font-size: 14px;
    font-weight: 400;
    margin: 20px;
}
.checked{
    color: orange;
}
/**************************
style for contact me section
****************************/
.contact_me{
    color: #fff;
    background: url(../images/bgform.png);
    background-position: center;
}
.contact_overlay{
    background: rgba(0, 0, 0, .7);
}
.contact_pad{
    padding: 100px 0;
}
.contact_pad .col-lg-12 h2{
    font-size: 32px !important;
}
.contact_pad h3{
    font-size: 18px;
}
.contact_pad p{
    font-size: 16px;
}
.contact_pad a{
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}
.contact_form{
    width: 65%;
    margin: auto;
}
.form-control {
    padding: 20px 10px;
    background-color: #ffffff05;
    border: 1px solid #ced4dab6;
    border-radius: inherit;
    color: #fff !important;
}
.form-control:hover {
    border: 1px solid #eea622;
    cursor: pointer;
    background: #ffffff05;
    
}
.contact_form .send{
    background: #cc8b12;
    text-align: center;
    padding-bottom: 40px;
    border: inherit;
}
.contact_form .send:hover{
    box-shadow: 5px 5px 1px #a56b13c7;
    
}
.copyright{
    padding: 60px 0;
    text-align: center;
    color: #ffeed2;
}









